snippet boil "boilerplate"
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>App</title>
			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<script defer type="module" src="app.js"></script>
			<link rel="stylesheet" type="text/css" href="style.css"></link>
		</head>
		<body>
			$0
		</body>
	</html>
