snippet boil
  ---
  layout: "@layouts/ArticleLayout.astro"
  title: "$1"
  description: "$1"
  date: ${CURRENT_YEAR}-${CURRENT_MONTH}-${CURRENT_DATE}
  ---

  # $1

  There I was, sitting in my chair, thinking about $1.
